/** ------------------------------
    Discovery Olive / Grey Theme Overrides
    ------------------------------ */

body {
	background: #FFF url(../images/theme/discovery-olive-grey/bg.jpg) top left repeat-x;
}
a {
	color: #3399CC;
}

/** ------------------------------
    HEADER
    ------------------------------ */
#header {
	background: transparent url(../images/theme/discovery-olive-grey/logo.png) left 20px no-repeat;
}

/** ------------------------------
    NAV
    ------------------------------ */
#nav {
	background-color: #B8B773;
}
#nav li a {
	background-color: #C3C288;
	border-right: 1px solid #B8B773;
	text-decoration: none;
}
#nav li a.current {
	background-color: #979899;
}
#nav li a:hover {
	background-color: #D4D4AB;
}
#nav li a.current:hover {
	background-color: #979899;
}


/** ------------------------------
    CONTENT
    ------------------------------ */
.page h2 {
	color: #979899;
}

