/** ------------------------------
    Yellow Theme Overrides
    ------------------------------ */

body {
	background: #FFF url(../images/theme/yellow/bg.jpg) top left repeat-x;
}
a {
	color: #3399CC;
}

/** ------------------------------
    NAV
    ------------------------------ */
#nav li a.current {
	background-color: #FFCC33;
}
#nav li a.current:hover {
	background-color: #FFCC33;
}

/** ------------------------------
    CONTENT
    ------------------------------ */
.page h2 {
	color: #FFCC33;
}