/** ------------------------------
    Discovery Blue / Grey Theme Overrides
    ------------------------------ */

body {
	background: #FFF url(../images/theme/discovery-blue-grey/bg.jpg) top left repeat-x;
}

/** ------------------------------
    HEADER
    ------------------------------ */
#header {
	background: transparent url(../images/theme/discovery-blue-grey/logo.png) left 20px no-repeat;
}

/** ------------------------------
    NAV
    ------------------------------ */
#nav {
	background-color: #4D9CC4;
}
#nav li a {
	background-color: #68ABCD;
	border-right: 1px solid #4D9CC4;
	text-decoration: none;
}
#nav li a.current {
	background-color: #979899;
}
#nav li a:hover {
	background-color: #94c4dc;
}
#nav li a.current:hover {
	background-color: #979899;
}



/** ------------------------------
    CONTENT
    ------------------------------ */
.page h2 {
	color: #979899;
}