/** ------------------------------
    Yellow Theme Overrides
    ------------------------------ */

body {
	background: #FFF url(../images/theme/discovery-yellow/bg.jpg) top left repeat-x;
}
a {
	color: #3399CC;
}

/** ------------------------------
    HEADER
    ------------------------------ */
#header {
	background: transparent url(../images/theme/discovery-yellow/logo.png) left 20px no-repeat;
}

/** ------------------------------
    NAV
    ------------------------------ */
#nav li a.current {
	background-color: #F4CA47;
}
#nav li a.current:hover {
	background-color: #F4CA47;
}

/** ------------------------------
    CONTENT
    ------------------------------ */
.page h2 {
	color: #F4CA47;
}