/** ------------------------------
    Olive Theme Overrides
    ------------------------------ */

body {
	background: #FFF url(../images/theme/olive/bg.jpg) top left repeat-x;
}
a {
	color: #3399CC;
}

/** ------------------------------
    NAV
    ------------------------------ */
#nav li a.current {
	background-color: #B8BE6C;
}
#nav li a.current:hover {
	background-color: #B8BE6C;
}

/** ------------------------------
    CONTENT
    ------------------------------ */
.page h2 {
	color: #B8BE6C;
}